:root {
    --main-color: rgb(70, 70, 70);
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
}

body {
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(237, 237, 237);
    color: var(--main-color);
    margin: 0;
    font-family: 'roboto';    
    display: grid;
    place-items: center;
    /* grid-template-rows: 5vh 12vh 7vh 1fr 15vh 1vh; */
}

p, h3, button,div {
    background: none; 
    border: 0;
    font-size: max(20px);
    font-weight: 400;
    color: var(--main-color);
}

h1 {
    font-family: 'Press Start 2P';
    background-image: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 12%,
        rgba(208, 222, 33, 1) 24%,
        rgba(79, 220, 74, 1) 36%,
        rgba(63, 218, 216, 1) 48%,
        rgba(47, 201, 226, 1) 60%,
        rgba(28, 127, 238, 1) 72%,
        rgba(95, 21, 242, 1) 84%,
        rgba(186, 12, 248, 1) 100%
    );
    padding-top: 25px;
    -webkit-background-clip: text;
    color: transparent;
}

#form-reset{
    position: absolute;
    transform: translate(-150%, 65%);
    width: 20px;
    display: none;
    cursor: pointer;
    opacity: 0.25;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.05);
    transition: all 250ms ease-in-out;
}

body #search-bar {
    display: grid;
    place-items: center;
    width: 30vw;
    grid-template-rows: 4vh ; 
    grid-template-columns: 30vw 0px;
    display: inline-block;
    padding: .6em 2em .5em 2em;
    border: 1px solid rgb(211, 210, 210);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.05); 
    border-radius: 8px;
    color: rgb(187, 187, 187);
    text-align: center;
    font-size: 2vh;
    width: 200px;
}

body #search-bar::placeholder {
    opacity: 0.5;
    text-align: center;
}

#search-bar:focus {
    outline: 1px solid rgb(181, 181, 181);
    transition: all 250ms ease;
    color: black;
}

.product-table {
    margin: auto;
    height: fit-content;
    width:  min(90%,1100px);
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);    
}

.product-table-item,
.product-table-head {
    display: grid;
    grid-template-columns: 3.8fr repeat(4, 1fr) 1.4fr;
}

/* sticky header */

.sticky-head {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: 0;
    position: sticky;
}

.sticky-head::after {
    content: "";
    width: 500%;
    height: 6.2vh;
    background-color: #333;
    position: absolute;
    z-index: -1;
    opacity: 1;
    top: -6.1vh;
    transform: translate(-50vw, 6vh);
    transition: all 300ms ease-out;
}

.sticky-head-hidden {
    top: 0;
    position: sticky;
}

.sticky-head-hidden::after {
    content: "";
    width: 200%;
    height: 6vh;
    background-color: #333;
    position: absolute;
    z-index: -1;
    transform: translate(-17vw, 0vh);
    opacity: 0;

    transition: all 100ms ease-out;
}

/* */

.product-table-head div,
.product-table-item div,
.product-table-container div {
    width: 100%;
    display: grid;
    place-items: center;
    user-select: none;
}

.product-table-head div:nth-child(1) {
    place-items: center start;
    padding-left: 2.5vh;
    width: calc(100% - 2vw);
}

.product-table-container > div > div:nth-child(1){
    display: inline;
}

.product-table-container > div > div:nth-child(1) h3{
    margin-left: 2vw;
    text-align: left;
    white-space: nowrap;
    width: 90%;
    text-overflow: ellipsis;
    overflow: auto;
    overflow-x: hidden;
   
}

.product-table-head div:nth-child(n) {
    cursor: pointer;
    text-decoration:underline rgba(193, 193, 193, 0.307);   
}

.product-table-head div:nth-child(1):hover {
    background-color: #f55457;
    border-top-left-radius: 5px;
}

.product-table-head div:nth-child(2):hover {
    background-color: #f5863c;
}

.product-table-head div:nth-child(3):hover {
    background-color: #e3bf2d;
    padding-bottom: 0.5vw;
}

.product-table-head div:nth-child(3):hover::after {
    content: 'ККал на 100г';
    font-size: 1.2vh;
    position: absolute;
    margin-top: 35px;
}

.product-table-head div:nth-child(4):hover {
    background-color: #4ce558;
    padding-bottom: 0.5vw; 
}

.product-table-head div:nth-child(4):hover::after {
    content: 'г на 100г';
    font-size: 1.2vh;
    position: absolute;
    margin-top: 35px;
    opacity: 0.65;
}

.product-table-head div:nth-child(5):hover {
    background-color: #49b6ff;
}

.product-table-head div:nth-child(5):hover::after {
    content: 'г на 100г';
    font-size: 1.2vh;
    position: absolute;
    margin-top: 35px;
    opacity: 0.65;
}

.product-table-head div:nth-child(6):hover {
    background-color: #ad81ff;
    border-top-right-radius: 5px;   
}

.product-table-head div:nth-child(6):hover::after {
    content: 'г на 100г';
    font-size: 1.2vh;
    position: absolute;
    margin-top: 35px;
    opacity: 0.65;
    
}
.product-table-head div:nth-child(n):hover::after {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

.product-table-head div:nth-child(n):hover {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

.product-table-head div:nth-child(n):hover {
    text-decoration: none;
    color: aliceblue;
    transition: all 250ms ease; 
    font-size: 1em;
    box-shadow: 0px 3px 16px 5px rgba(0, 0, 0, 0.1);
    transform: scale(1.02,1.2);
}

.product-table-container > div:nth-child(2n+1){
    background-color: rgba(54, 115, 94, 0.03);
}

.product-table-head {
    background-color: #333333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1); 
    height: 6vh;
}

.product-table-head div {
    color: rgb(169, 171, 173);
}

.product-table-container > div:hover{
    background-color: rgb(221, 221, 221);
    color: white;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1) inset;
    transition: all 150ms ease;
}

.slideOut {
    opacity: 0;
    transition: all 250ms ease-in-out;
}

.slideIn {
    opacity: 1;
    transition: all 250ms ease-in-out;
}


/* подкраска ги */

#gi-highlight {
    display: grid;
    place-items: center start;
    opacity: 0.5;
    user-select: none;
    padding: 5px 25px 0px 25px;
    border-radius: 5px;
    
}

#gi-highlight p {
    background: none;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline 1px rgba(128, 128, 128, 0.361);
}

.gi-highlight:hover {
  opacity: 1;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1); 
  transition: all 250ms ease;
}

.giHighlightActive {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1) inset;
    transition: all 550ms ease;
   
}

.lowGi > div:nth-child(2){
    background-color: #6dff38b8;
}

.mediumGi > div:nth-child(2){
    background-color: #f7ff018d;
}

.highGi > div:nth-child(2){
    background-color: #ff5340cd;
}

.neutralGi > div:nth-child(2){
    background: none;
}

.product-table-container > div >div:nth-child(7),
.product-table-head > div:nth-child(7){
    display: none;
}

#back-to-top {
    position: fixed;
    right: 40px;
    bottom: 40px;
    text-decoration: none;
    color: white;
    padding: 10px 15px 15px 15px;
    font-size: 200%;
    background-color: #333;
    transform: translateX(200px);
    border-radius: 25em;
    transition: all 250ms ease-in-out;
    z-index: 10;
}

.btt-show {
    transform: translateX(0) !important ;
    transition: all 250ms ease-in-out;
}

footer {
    margin-top: 150px;
    margin-bottom: 150px;
    display: grid;
    place-items: center;
}
footer p {
    
    text-align: center;
    line-height: 135%;
    font-size: 12px;
    opacity: 0.7;
}

footer img {
    width: 2em;
    height: 2em;
    filter: saturate(0);
    transition: all 500ms ease;
}

footer img:hover {
    filter: saturate(1);
    transform: scale(1.35);
    transition: all 250ms ease;

}

/* МОБИЛКА */

@media (max-width: 55em) {

    body {
        grid-template-rows: 10vh 8vh 8vh 1fr 15vh 1vh;
    }
       
    p, h3, button,div {
        font-size: 2.5vw;
        font-weight: 400;   
    }
    
    h1 {
        font-size: 10vw;
    }   
   
    .search-container {
        display: grid;
        height: 10vh;
        grid-template-columns: 1fr 0;
        place-items: center;
        margin-top: 5vh;
        margin-bottom: 1vh;
    }

    #form-reset {   
        opacity: 0.25;
        width: 26px;
        position: relative;
        transform: translate(-250% , 0);
        transition: all 250ms ease-in-out;
    }
   
    body #search-bar {
        width: 80%;
        padding: .4em .2em .3em .2em;
        font-size: 3vh;
    }   

    .product-table {
        width:  100%;       
    }
    
    .product-table-item,
    .product-table-head {
        grid-template-columns: 30vw 1fr repeat(4, 1fr);
        
    }
    
    .product-table-head {
        border-radius: 0;
    }

    .sticky-head::after {
        width: 5%;
        transform: translate(0, 0);
    }

    .sticky-head-hidden::after {
        width: 1%;
        transform: translate(0, 0);
    }
    
    
    #gi-highlight {
        margin-top: 2vh;     
    }

    .product-table-head div:nth-child(1) {
        place-items: center start;
        padding-left: 1.5vh;
        width: calc(100% - 6vw);
    }

    .product-table-head div:nth-child(n):hover {
        transform: scale(1.02,1.15);

    }

    .product-table-head div:nth-child(n)::after {
       padding-bottom: .7vh;
    }

    footer p {
        font-size: 0.5em;
    }
}

